{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'book-review.css' %}">
        <title>Create a Book Review</title>
    </head>
    <body>
        <header>
            <div>My Book Reviews</div>
            <nav>
                <a href="{% url 'reviews_list' %}">Back to list</a>
            </nav>
        </header>
        <main>
            <div class="book-review-form">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                      <button>Submit</button>
                    </div>
                  </form>
            </div>
        </main>
        <footer>
            <div>Copyright 2022 by Jonathan Chen</div>
            <p>This is my site that has my book reviews.</p>
        </footer>
    </body>
</html>