{ % load static % }
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'book-review.css' %}">
        <title>make it stick - Book Reviews</title>
    </head>
    <body>
        <header>
            <div>My Book Reviews</div>
            <nav>
                <a href="main.html">Back to List</a>
                <a href="create.html">Create a Review</a>
            </nav>
        </header>
        <main>
            <div class="detail-page-book-review">
                <img class="book-cover" src="{{ review.cover_image }}">
                <h2 class="book-title">
                    <a href="detail.html">{{ review.title }}</a>
                </h2>
                <div class="book-rating">{{ review.rating }}</div>
                <div class="book-authors">{{ review.author }}</div>
                <h3>Summary</h3>
                <p>
                    {{ review.summary }}
                </p>
                <h2>My Review</h2>
                <div>
                    <p>
                        {{ review.review }}
                    </p>
                </div>
            </div>
        </main>
        <footer>
            <div>Copyright 2022 by Jonathan Chen</div>
            <p>This site contains all my book reviews</p>
        </footer>
    </body>
</html>